<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%= date%>
        </h1>
    </div>

    <div class="box">

        <% for (var i=0; i < newListItems.length; i++ ) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= newListItems[i] %></p>
            </div>
        <% } %>

        <form class="item" action="/" method="post">
            <input type="text" id="newItem" name="newItem" value="" placeholder="Enter your list item" autocomplete="off">
            <button type="submit" value="Submit">+</button>
        </form>
    </div>


    
</body>

</html>