<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>

<body>
    <h1><%= date%></h1>
    
    <ul>
        <% for (var i = 0; i < newListItems.length; i++ ) { %>
            <li><%= newListItems[i] %></li>
        <% } %>
    </ul>

    <form action="/" method="post">
        <label for="newItem">Add new item</label><br>
        <input type="text" id="newItem" name="newItem" value=""><br>
        <input type="submit" value="Submit">
      </form> 
</body>

</html>